
data/
datasets/
faces/

*.csv
*.tsv
*.dat
*.json
*.zip
*.tar
*.tar.gz
*.rar


venv/
.venv/
env/
.env/
conda_env/
Scripts/


__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd


*.pt
*.pth
*.h5
*.hdf5
*.ckpt
*.safetensors
*.pkl

logs/
tb_logs/
runs/
*.log


.vscode/
.idea/
*.swp
*.swo
.spyderproject
.spyproject
